:root {
    --background: #121211;
}

@font-face {
    font-family: sfMedium;
    src: url(/style/fonts/SF-Pro-Medium.otf);
}

body {
    background: var(--background);
    font-family: sfMedium;
    color: #fff;
    overflow: hidden;
}

#highlightInfo {
    position: absolute;
    width: 350px;
    height: 100%;
    right: 0px;
    top: 0;
    border-right: none;
    background: #333333;
    display: none;
}

#infoText {
    padding: 0px 15px;
    
}

#infoTitle {
    font-size: 30px;
    margin: 20px;
    font-weight: bold;
    text-align: center;
    padding: 0px 20px;
}

#infoExit {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    user-select: none;
    cursor: pointer;
    border-radius: 10px;
    aspect-ratio: 1;
}

#infoBottom {
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.infoButton {
    cursor: pointer;
    width: 75%;
    height: 50px;
    border: 3px solid white;
    border-radius: 10px;
    text-align: center;
}

.buildingImg {
    width: 100%;
    display: flex;
    justify-content: center;
    user-select: none;
}

.buildingImg img {
    width: 100%;
}

#buttons {
    position: absolute;
    top: 20px;
    right: 30px;
    height: fit-content;
    width: 20px;
}

#infoText div {
    display: flex;
    align-items: flex-start;
}

#infoText div a, #infoText div p {
    margin: 0;
    margin-bottom: 16px;
    text-decoration: none;
    color: #fff;
}

#infoText div img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}