<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css" />
    <script src="/thirdParty/jquery.js"></script>
    <title>OSU</title>
</head>
<body>
    <div id="highlightInfo">
        <img src="/style/icons/x.svg" id="infoExit">
        <p id="infoTitle"></p>
        <div class="buildingImg"><img></div>
        <div id="infoText">
            <p id="infoAddress"></p>
            <p id="infoDescription"></p>
            <p id="infoSecondaryInfo"></p>
            <p id="infoBrInfo"></p>
        </div>
        <div id="infoBottom">
            <div class="infoButton"><p>Directions</p></div>
        </div>
    </div>
</body>
<script src="/js/highlight.js"></script>
</html>