<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css" />
    <script src="/thirdParty/jquery.js"></script>
    <title>OSU</title>
</head>

<body>
    <canvas id="canvas"></canvas>
    <div id="buttons">
    </div>
    <div id="highlightInfo">
        <img src="/style/icons/x.svg" id="infoExit">
        <div class="buildingImg"><img></div>
        <p id="infoTitle"></p>
        <div id="infoText">
            <div id="infoAddress">
                <img src="/style/icons/location-pin.svg">
                <a></a>
            </div>
            <div id="infoInfo">
                <img src="/style/icons/info-circle.svg">
                <p></p>
            </div>
            <div id="infoAccessibility">
                <img src="/style/icons/wheelchair.svg">
                <p></p>
            </div>
            <div id="infoBrInfo">
                <img src="/style/icons/bathroom.svg">
                <p></p>
            </div>
        </div>
        <!-- <div id="infoBottom">
            <div class="infoButton">
                <p>Directions</p>
            </div>
        </div> -->
    </div>
</body>
<script src="/js/highlight.js"></script>
<script src="/js/map.js"></script>

</html>